---
name: Dependency Review
on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - main

jobs:
  dependency-review:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Dependency Review
        uses: actions/dependency-review-action@v4
